<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Я и мое обучение в Вышке{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{% url 'study_records' %}">Образовательная программа</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                     <li class="nav-item"><a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'study_records' %}">Приложение 1</a></li>
                     <li class="nav-item"><a class="nav-link {% if request.path == '/students/' %}active{% endif %}" href="{% url 'students_list' %}">Сокурсники</a></li>
                     <li class="nav-item"><a class="nav-link {% if request.path == '/management_page/' %}active{% endif %}" href="{% url 'management' %}">Менеджмент</a></li>
                     <li class="nav-item"><a class="nav-link {% if request.path == '/my_page/' %}active{% endif %} " href="{% url 'mypage' %}">Я</a></li>
                     <li class="nav-item"><a class="nav-link {% if request.path == '/program/' %}active{% endif %}" href="{% url 'program' %}">Моя образовательная программа</a></li>
                     <li class="nav-item"><a class="nav-link {% if request.path == '/shop/' %}active{% endif %}" href="{% url 'app3_home' %}">Магазин</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>